.Dashboard-item
{
    isolation: isolate;
    padding-top: 2.5em;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-size: 64px;
}

.Dashboard-item-title
{
    font-size: var(--title-size);
}

.Dashboard-item-top h3,
.Dashboard-item-top h5
{
    margin-block: 0.5rem 0;
}

.Dashboard-item-inner
{
    background-color: var(--dark-blue);
    color: white;
    padding: 2em;
    height: 100%;
}

.Dashboard-item-icon
{
    position: absolute;
    top: 0%;
    left: 70%;
    z-index: 0;
    width: 64px;
}

.Dashboard-item-curr
{
    font-size: 28px;
}

.work
{
    background-color: var(--work-color);
}

.play
{
    background-color: var(--play-color);
}

.study
{
    background-color: var(--study-color);
}

.exercise
{
    background-color: var(--exercise-color);
}

.social
{
    background-color: var(--social-color);
}

.self-care
{
    background-color: var(--self-care-color);
}

@media (min-width: 1440px)
{
    .Dashboard-item-curr
    {
        font-size: 48px;
    }
}